extends layout

block content
  h1 Welcome to SWAN Soft launch site 

  p  
    | To get XML file go to the 
    a(href='/registrations/get-all?token=') link
    |  and provide token query parameter 

  