doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="favicon-96x96.png" type="image/x-png")  
  body
    block content
